*{
    margin:0;
    padding: 0;
}
body{
    overflow: hidden;
}
.pantalla{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    bottom: -100%;
}
/*-------------------- pantalla 1 --------------*/

#index{
    bottom: 0%;
    top: 0;
}
.videoindex{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}
.tituloindex{
    font-family: monospace;
    font-size: 14vw;
    color: sienna;
    position: absolute;
    left: 24%;
}
.iconos{
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
}
.iconos > a {
    flex-grow: 1;
    height: 27vw;
    margin-left: 5vw;
    }
.imgindex{
    width: 20vw;
}
.centro{
    flex-grow: 3;
}
/*.....................pantalla 2-------------------------*/
#saludos, #presentacion, #familia{
    display: none;
    overflow: auto;
}
#saludos:target{
    display: block;
    background: red;
}
#presentacion:target{
    display: block;
    background: green;
}
#familia:target{
    display: block;
    background: gris;
}
/*......................paneles........................*/
#contenedor1{
    overflow: scroll;
    height: 100%;
}
.slide{
    height: 100%;
    float: left;
}
.slide > div{
    position: relative;
    width: 100%;
    height: 33%;
    background color: antiquewhite;
    
}
.imgslide{
    position: absolute;
    width: 30%;
    align-content: center;
    left: 25%;
}

.videoslide{
    position: absolute;
    width: 100%;
    top: 35%;
    left:  -0.5%;
    
}
.palabraslide{
    position: absolute;
    bottom: 10%;
    font-size: 10vw;
    left: 28%;
}
.contenedor{
    width: 200px;
    height: 200px;
    background-color: aqua;
}


